.root
    {
        background: linear-gradient(125deg, #0a84ff, #0067ce);
        grid-template-areas: "Content";
        grid-auto-columns: 0;
        grid-auto-rows: 0;
    }
    .panel
    {
        position: fixed;
        top: 50%;
        left: 50%;
        display: grid;
        grid-auto-flow: row;
        transform: translate(-50%, -50%);
        background: var(--gray-6);
        padding: 33px 30px;
        border-radius: 25px;
        border: 1px solid var(--overlay-6);
        gap: 0.3em;
        width: 350px;
        box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.075);    
        max-height: calc(100vh - var(--padding));
        max-height: calc(100dvh - var(--padding));
        overflow: auto;
    }
        .panel img
        {
            width: auto;
            height: 1.55em;
        }
        .panel .title
        {
            font-size: 1.75em;
            font-family: var(--font-bold);
            margin: 0.25em 0 0;
        }
        .panel .subtitle
        {
            font-size: 1.25em;
            margin: 0 0 25px;
        }
        .panel .inputs
        {
            display: grid;
            gap: 7px;
        }
            .panel .inputs input,
            .panel .inputs button
            {
                padding: 0.6em 0.8em;
                border-radius: 10px;
            }
            .panel .inputs .error input
            {
                border: 1px solid var(--notice)
            }
            .panel .inputs span.error 
            {
                display: none;
                grid-auto-flow: column;
                grid-auto-columns: max-content auto;
                gap: 0.5em;
                color: var(--notice);
                font-size: 0.8em;
            }
                .panel .inputs span:not(#Text_ErrorSignIn).error:before 
                {
                    content: "\f1aa";
                    font-family: var(--font-icon);
                }
            .panel .inputs #Text_ErrorSignIn.error
            {
                text-align: center;
                margin: 0.5em 0 0 0;
                font-size: 0.9em;
            }
            .panel .inputs .buttons
            {
                display: grid;
                gap: 1em;
                margin: 25px 0 0;
            }
                .panel .inputs .buttons .offersignup
                {
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: max-content;
                    gap: 0.5em;
                    justify-content: center;
                }
                .panel .inputs .buttons button .progressring
                {
                    width: 1em;
                    height: 1em;
                }
                .panel:not(.loading) .inputs .buttons button .progressring
                {
                    display: none;
                }