@import "https://assets.agapedimas.com/ui/v3/style.css";

header.titlebar .controls .content
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content auto max-content;
    gap: 20px;

    .navigation
    {
        display: grid;
        grid-auto-flow: column;
        gap: 15px;

        button
        {
            padding: 0;
            min-width: unset;
            height: 30px;
            font-weight: bold;
        }
    }

    input[type=search]
    {
        border: 0;
        text-align: center;
        height: 30px;
        font-size: 0.9em;
    }

    .accessibility
    {
        button
        {
            font-size: 0.9em;
            height: 30px;
        }
    }

    .profile
    {   
        display: grid;
        
        img
        {
            height: 30px;
            aspect-ratio: 1;
            border-radius: 100%;
            transition: 0.15s opacity;
        }
        img:hover
        {
            opacity: 0.85;
        }
        img:active
        {
            opacity: 0.7;
        }
    }
}

.root nav
{
    a.dropdown
    {
        position: relative;
        grid-auto-columns: auto;

        span
        {
            position: relative;
            margin-left: 1.25em;
        }
    }

    a.dropdown::before
    {
        content: "\ef4a";
        position: absolute;
        top: 50%;
        left: 1.25em;
        transform: translate(0, -50%) rotate(0deg);
        font-family: var(--font-icon);
        font-weight: bold;
        font-size: 0.6em;
        color: var(--foreground-description);
    }

    a.dropdown.expanded::before
    {
        transform: translate(0, -50%) rotate(90deg);
    }

    a.innerdropdown
    {
        position: relative;
        grid-auto-columns: auto;

        span
        {
            position: relative;
            margin-left: 1.25em;
        }
    }
}