@import "https://assets.agapedimas.com/ui/v3/style.css";
@import "./code.css";

header.titlebar .controls .content
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content auto max-content;
    gap: 20px;

    .navigation
    {
        display: grid;
        grid-auto-flow: column;
        gap: 15px;

        button
        {
            padding: 0;
            min-width: unset;
            height: 30px;
            font-weight: bold;
        }
    }

    input[type=search]
    {
        border: 0;
        text-align: center;
        height: 30px;
        font-size: 0.9em;
    }

    .accessibility
    {
        button
        {
            font-size: 0.9em;
            height: 30px;
        }
    }

    .profile
    {   
        display: grid;
        
        img
        {
            height: 30px;
            aspect-ratio: 1;
            border-radius: 100%;
            transition: 0.15s opacity;
        }
        img:hover
        {
            opacity: 0.85;
        }
        img:active
        {
            opacity: 0.7;
        }
    }
}

.root nav
{
    a.dropdown
    {
        position: relative;
        grid-auto-columns: auto;

        span
        {
            position: relative;
            margin-left: 1.25em;
        }
    }

    a.dropdown::before
    {
        content: "\ef4a";
        position: absolute;
        top: 50%;
        left: 1.25em;
        transform: translate(0, -50%) rotate(0deg);
        font-family: var(--font-icon);
        font-weight: bold;
        font-size: 0.6em;
        color: var(--foreground-description);
    }

    a.dropdown.expanded::before
    {
        transform: translate(0, -50%) rotate(90deg);
    }

    a.innerdropdown
    {
        position: relative;
        grid-auto-columns: auto;

        span
        {
            position: relative;
            margin-left: 1.25em;
        }
    }

    a.innerdropdown.dropdown
    {
        span
        {
            margin-left: calc(2 * 1.25em);
        }
    }
    a.innerdropdown.dropdown::before
    {
        left: calc(2 * 1.25em + 1em);
    }

    a.file
    {
        position: relative;
        grid-auto-columns: auto;

        span
        {
            position: relative;
            margin-left: calc(2 * 1.25em);
        }
    }

    a.file::before
    {
        display: grid;
        width: 15px;
        border-radius: 100%;
        color: white;
        aspect-ratio: 1;
        position: absolute;
        top: 50%;
        left: calc(2 * 10px + 10px);
        transform: translate(0, -50%) rotate(0);
        font-family: var(--font-bold);
        font-size: 11px;
        align-items: center;
        justify-content: center;
    }

    a.file[data-ext="java"]::before
    {
        content: "J";
        background: #af0000;
    }
    a.file[data-ext="xml"]::before
    {
        content: "X";
        background: #a4a400;
    }
}

.root .main
{
    article
    {
        max-width: 800px;
        font-size: 1.2rem;
        line-height: 1.35;
        
        h1 { font-size: 2.5rem }
        h2 { font-size: 1.75rem }
        h3 { font-size: 1.5rem }
        h4, h5, h6 { font-size: 1.25rem }

        :where(h1, h2, h3, h4, h5, h6):not(:first-child)
        {
            margin: 0.5rem 0;
        }
        p ~:where(h1, h2, h3, h4, h5, h6) 
        {
            margin-top: 2.5rem !important;
        }

        img
        {
            max-width: 100%;
        }

        :not(pre) code
        {
            margin: 0 0.25ch;
            color: var(--accent-access);
        }

        pre
        {    
            overflow: hidden;
            border-radius: 15px;
            
            code
            {
                display: block;
                font-size: 1rem;
                background: #262626;
                padding: 12px 15px;    
                overflow: auto;
                color: white;
            }
            *
            {
                user-select: text;
            }
        }

        pre[data-filename]::before
        {
            content: attr(data-filename);
            display: block;
            background: #3b3838;
            font-family: var(--font-semibold);
            font-size: 0.9rem;
            padding: 10px 15px;
            color: white;
        }

        b, strong
        {
            font-family: var(--font-bold);
        }
    }
}

#PopOver_Profile
{
    .container
    {
        background: var(--background-popover-grid);
    }
    .profile
    {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content auto;
        gap: 15px;

        img
        {
            width: 50px;
            height: auto;
            aspect-ratio: 1;
        }

        .info
        {
            display: grid;
            grid-auto-rows: max-content;
            align-content: center;
            margin-bottom: 2em;

            .name
            {
                font-size: 1.2em;
                font-family: var(--font-bold);
            }
            .description
            {
                font-size: 1.1em;
                font-family: var(--font-semibold);
                color: var(--foreground-description);
            }
            button
            {
                margin-top: 0.5em;
            }
        }
    }
}

.root .main:has(.editor)
{
    padding: 0;

    .editor
    {
        display: grid;
        height: 100%;

        .code
        {
            .cm-editor
            {
                height: 100%;
            }
        }
    }
}